.container {
    width: 1903px;
    min-width: 500px;
    text-align: center;
    margin-top: 180px
}
.content {
    margin-top: 40px;
    text-align: center;
}
.titleArea {
    margin-top: 20px;
    margin-bottom: 60px;
    min-height: 30px;
    text-align: center;
}
.titleArea > h2 {
    color: #2e2e2e;
    font-size: 26px;
}
.policyBG{
    width: 1635px;
    border: 1px solid #ccc;
    background-color:#eee;
    margin: 60px 130px;
    padding: 20px 0 0 0px;
}
.policyArea{
    width: 1550px;
    border: 1px solid rgb(179, 179, 179);
    padding: 20px 20px;
    margin: 0 20px 20px;
    background-color: white;
}

.policyArea p {
    display: inline-block;
    position: relative;
    margin: 0 0 0 6px;
    padding: 0 0 0 10px;
    color: #939393;
    font-size: 13px;
    text-align: left;
}